page-details {

    ion-card{
        position: relative;
        text-align: center;
    }

    #test{
        color: white;
    }

    .weed{
        color: white;
    }

    .bedrijf,.sector,.standnr,.contact,.adres{
        border-bottom-style: outset;
        border-bottom-color:rgb(255, 209, 209);
        border-radius:10px;
    }

   .bedrijf{
        background-color: rgb(252, 252, 252);
    }
    .sector{
        background-color: rgb(250, 250, 250);
    }
    .standnr{
        background-color: rgb(245, 245, 245);
    }
    .contact{
        background-color: rgb(240, 240, 240);
    }
    .adres{
        background-color: rgb(235, 235, 235);
    }
}
